Thumbs.db

## R related files
*.Rdata
*.RData
*.Rhistory
.Rhistory*
.Ruserdata*
.Rapp.history
*.Rproj.user
/.Rproj.user

## Output files
.png

## Folders with Data
data_*/*
*/data
*/data*
output/
cache/*
*.db
*/cache

inputs/
outputs/

exploringCode/scratchErrorsCBMinputs.R
exploringCode/scraptGC.r
exploringCode/errorsFromCpp.r
